@use "../../../../assets/scss/variables" as *;

.wrapper {
  display: flex;
  align-items: center;
  height: 70vh;
  margin-inline: auto;
}

.loader {
  display: inline-grid;
  align-items: center;
  font-weight: 600;
  font-family: $font-mono;
  font-size: 1.5rem;
  color: $accent;
  overflow: hidden;

  &:before,
  &:after {
    content: "Loading...";
    grid-area: 1/1;
    clip-path: inset(0 -200% 50%);
    text-shadow: -10ch 0 0;
    animation: loading 2s infinite;
  }

  &:after {
    clip-path: inset(50% -200% 0%);
    text-shadow: 10ch 0 0;
    --s:-1;
    animation-delay: 1s;
  }
}

@keyframes loading {
  25%,
  100% {
    transform: translateX(calc(var(--s,1)*100%));
  }
}
