@use "../../../assets/scss/variables" as *;

.header {
  &-burger {
    display: none;
    padding: 0.5rem;
    cursor: pointer;

    svg {
      width: 1.75rem;
      height: 1.75rem;

      path {
        fill: $text-primary;
        transition: $transition-2;
      }
    }

    &:hover svg path {
      fill: $accent;
    }

    &.active {
      svg path:nth-child(0),
      svg path:nth-child(7),
      svg path:nth-child(9) {
        transform: scale(0);
      }
    }
  }

  @media (max-width: $mobile) {
    &-burger {
      display: block;
      height: 2rem;

      svg {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  }
}
