<header class="header" [class.isMenuActive]="menuToggleService.isMenuActive()">
    <div class="header-inner">
        <a class="header-logo" routerLink="/" title="Greg Martirosian">
            <span class="header-logo-mark">GM</span>
        </a>

        <nav class="header-list" [class.isMenuActive]="menuToggleService.isMenuActive()">
            <app-menu-link />
        </nav>

        <div class="header-actions">
            <div class="header-lang-switcher-items">
                @for (lang of langs; track $index) {
                    <button class="header-lang-switcher-item button"
                            [class.activeLang]="selectedLang === lang"
                            (click)="onClickedLang(lang)"
                    >
                        <svg-icon [src]="'../../../assets/icons/flags/' + lang + '.svg'"></svg-icon>
                    </button>
                }
            </div>

            <a class="header-cv-btn button-primary button" routerLink="about" title="Download CV">
                CV
            </a>

            <app-burger-menu />
        </div>
    </div>
</header>
