<div class="footer">
    <div class="footer-inner">
        <div class="footer-tagline">
            <span class="footer-dot"></span>
            Let's build something together
        </div>

        <div class="footer-social">
            <a class="footer-link" href="https://github.com/greg-fullstack" target="blank" title="GitHub">
                <img src="./assets/icons/github.svg" alt="GitHub">
            </a>

            <a class="footer-link" href="https://www.linkedin.com/in/greg-martirosian/" target="blank" title="LinkedIn">
                <img src="./assets/icons/linkedin.svg" alt="LinkedIn">
            </a>

            <a class="footer-link" href="mailto:greg.martinez.dev@gmail.com" title="Email" target="blank">
                <img src="./assets/icons/email.svg" alt="Email">
            </a>

            <a class="footer-link" href="https://www.codewars.com/users/greg-front-end" title="My CodeWars" target="blank">
                <img src="./assets/icons/codewars.svg" alt="CodeWars">
            </a>
        </div>

        <div class="footer-copyright">
            &copy;
            <span id="copyright">
            <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>
          </span>
            Greg Martirosian
        </div>
    </div>
</div>
